#footer{
	background-color: rgb(58, 58, 58);
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
	margin-top: 30px;
	/*I'm changing the width to a percentage so it doesn't stretch when window is reduced.*/
	width: 100%;
}

#footer-left{
	width: 300px;
	float: left;
	margin-left: 150px;
	margin-top: 30px;
	position: relative;
}

#footer-left > p{
	display: inline-block;
	color: #fff;
	font-size: 13px;
	position: absolute;
	top: -1px;
	left: 45px;
	font-family: 'Roboto Slab', serif;
}

.class{
	font-weight: 200;
}

#footer-right{
	float: right;
	margin-right: 150px;
	margin-top: 30px;
	font-family: 'Roboto', sans-serif;
}

#footer-right:hover{
	color: rgb(100, 100, 100);
}



