body{
	position: relative;
}

#head-bkgd{
	background-image: url('images/books_header_bg.jpg');
	position: relative;
}

#logo-and-text{
	width: 500px;
	margin: 0 auto;
}

#logo{
	margin-top: 30px;
}

#title{
	display: inline-block;
	font-family: 'Rockwell', serif;
	font-size: 24px;
	font-weight: 200;
	color: #fff;

	position: absolute;
	top: 17px;
	left: 505px;
}

#title span{
	font-weight: 500;
}

#tagline{
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	opacity: 0.4;
	position: absolute;
	top: 60px;
	left: 506px;
}

input[type="text"]{
	box-sizing: border-box;
	width: 490px;
	height: 35px;

	border: none;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	opacity: .3;

	margin-top: 30px;
	padding-left: 10px;
	margin-left: 425px;
	margin-right: 0;
	margin-bottom: 30px;

	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: rgb(58, 58, 58);
}

button{
	box-sizing: border-box;
	width: 40px;
	height: 35px;
	background-color: #fff;
	background-image: url('images/search.png');
	background-repeat: no-repeat;
	background-position: center;
	color: #adcc35;

	border: none;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;

	/*This line corrects the issue where the button goes one way in Chrome and the other in Firefox*/
	position: absolute;
	bottom: 30px
}

nav{
	width: 700px;
	margin: 0 auto;
	font-family: 'Roboto', serif;
	font-size: 12px;
}

li{
	display: inline-block;
	margin-right: 10px;
}

a{
	text-decoration: none;
	color: rgb(180, 180, 180);
}

a:hover{
	color: DodgerBlue;
}

a:focus{
	color: rgb(166, 200, 51);
}

#footer{
	background-color: rgb(58, 58, 58);
	height: 100px;
	width: 100%;
	position: fixed;
	bottom: 0;
	margin: 0;
	max-width: 1350px;
}

#footer-left{
	width: 300px;
	float: left;
	margin-left: 150px;
	margin-top: 40px;
	position: relative;
}

#footer-left > p{
	display: inline-block;
	color: #fff;
	font-size: 13px;
	position: absolute;
	top: -1px;
	left: 45px;
	font-family: 'Rockwell', serif;
}

.class{
	font-weight: 200;
}

#footer-right{
	float: right;
	margin-right: 150px;
	margin-top: 40px;
	font-family: 'Roboto', sans-serif;
}

#footer-right:hover{
	color: rgb(100, 100, 100);
}


